
<section layout="column" flex="60" flex-offset="20">
<h2 class="md-display-3">User Show</h2>
<md-divider></md-divider>
  <div id="users">
    <ul class="md-whiteframe-15dp">
      <li class='user-tile'>
        <h2>{{users.selectedUser.local.name}}</h2> 
        <p>{{users.selectedUser.local.username}}</p>
        <p>{{users.selectedUser.local.email}}</p>
        <a href='#' ng-click="users.deleteUser(user)">Delete</a> 
        <a href='#' ng-click="users.toggle.section(2); users.editUser(user)" >Edit</a>

      </li>
    </ul>
  </div>



</section>
