.media-object {
  max-width: 60px;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}



body,html {

  height:100%;
  width:100%;
  padding:0px;
  margin:0px;

}

#wrapper {

  height:100%;
  width:100%;
  padding:50px;

}

.light {

 background-color:#EFEFEF;
 font-family:Arial;
 font-size:15px;

}

.light h1 {

  color:#AACCDD;

}

.dark {

 background-color:#AABBCC;
 font-family:Arial;
 font-size:20px;

}

.dark h1 {

  color:#FFFFAA;

}

.green {
  background-color: lightblue;
  font-family:Arial;
  font-size:16px;
}

.green h1 {

  color: red;

}




.layout1 {
  background-image: url("http://4.bp.blogspot.com/-w3I5XQ1vWbg/Up6hKWsBRrI/AAAAAAAABss/I7_nbS_7wQ0/s1600/Nice+Wallpapers+(12).jpg");
background-size: cover;
width: 330px;
}



.layout1 h1 {
  font-size: 30px;
}




.layout1 .box {
  width: 430px;
  border: 1px solid black;
  float: left;
}

.layout1 h3 {
  font-size: 60px;
}



.layout2 h1 {
  font-size: 30px;
}


.layout2 div {
  width: 600px;
}

.layout2 h3 {
  font-size: 60px;
}

.layout2 {
  background-image: url("http://www.planwallpaper.com/static/images/518169-backgrounds.jpg");
background-size: cover;
width: 100%;
}






























