.media-object {
  max-width: 60px;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}



body,html {

  height:100%;
  width:100%;
  padding:0px;
  margin:0px;

}

#wrapper {

  height:100%;
  width:100%;
  padding:50px;

}

.light {

 background-color:#EFEFEF;
 font-family:Arial;
 font-size:15px;

}

.light h1 {

  color:#AACCDD;

}

.dark {

 background-color:#AABBCC;
 font-family:Arial;
 font-size:20px;

}

.dark h1 {

  color:#FFFFAA;

}

.green {
  background-color: lightblue;
  font-family:Arial;
  font-size:16px;
}

.green h1 {

  color: red;

}


