<div id="neweventpage">



  <form id="new-event" ng-submit="events.createEvent()">

    <h2>Create Your Event</h2>
    <input type="text" name='title' id="event-title" placeholder="Title" ng-model="events.event.title">
    <br>
    <br>
    <textarea name='description' id="event-description" placeholder="Description" ng-model="events.event.description"></textarea>

    <br>
    <br>

    <label> Include Twitter? </label>
    <select ng-model="events.event.twitter">
      <option ng-model="events.event.twitter" value="false">No</option>
      <option ng-model="events.event.twitter" value="true">Yes</option>
    </select>
    <br>
    <label> If yes, input the hashtag here: </label>
    <input type="text" name='twitter' id="event-twitter" placeholder="Twitter Tag" ng-model="events.event.twittertag">
    <br><br>

    <label> Include Map Location? </label>
    <select ng-model="events.event.location">
      <option ng-model="events.event.has_map" value="false">No</option>
      <option ng-model="events.event.has_map" value="true">Yes</option>
    </select>

    <br>
    <label> If yes, input the postcode here: </label>
    <input type="text" name='postcode' id="event-postcode" placeholder="Postcode" ng-model="events.event.postcode">


    <br><br>

    <label> Background Color </label>
    <input type="color" value="#f5f5f5" name='bgcolor' id="event-bgcolor" placeholder="Background Color" ng-model="events.event.bgcolor">

    <label> Secondary Color </label>
    <input type="color" value="#f5f5f5" name='scndcolor' id="event-scndcolor" placeholder="Second color" ng-model="events.event.scndcolor">

    <label> Third Color </label>
    <input type="color" value="#f5f5f5" name='scndcolor' id="event-thirdcolor" placeholder="Third color" ng-model="events.event.thirdcolor">

    <br><br>
    Layout Examples
    <div id="formImages">
      <img class="formImage" src="../../assets/images/twocol.png">
      <img class="formImage" src="../../assets/images/Vertical.png">
      <img class="formImage" src="../../assets/images/grid.png">
      <img class="formImage" src="../../assets/images/fullwidth.png">
      <img class="formImage" src="../../assets/images/twocol.png">
    </div>

    <br><br>

    <label> Layout </label>
    <select ng-model="events.event.layout">
      <option ng-model="events.event.layout" value="layout1">Narrow</option>
      <option ng-model="events.event.layout" value="layout2">Full Width/Long</option>
      <option ng-model="events.event.layout" value="layout3">Vertical</option>
      <option ng-model="events.event.layout" value="layout4">Grid</option>
      <option ng-model="events.event.layout" value="layout6">Two Column</option>
    </select>

    <br><br>
    <h4>Upload an Event Profile Photo</h4>
    <input type="file" ngf-select ng-model="events.file" name="file" style="padding-left: 30px"></input>

    <a ng-click="events.uploadSingle()" >Upload</a>

    <br>
    <br>
    <br>
    <br>
    <br>

    <input type="submit" value='Save and Go' id="submit">

    <div id="cardholder">

      <div id="card-1" class="card">
        <div class="front">
          MEAN Stack</br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div class="back">
          <ul>
            <li> MongoDB </li>
            
          </ul>
        </div>
      </div>


      <div id="card-2" class="card">
        <div class="front">
          Front-End</br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div class="back">
          <ul>
            <li> Javascript </li>
            
          </ul>
        </div> 
      </div>



      <div class="card">
        <div class="front">
          Back End</br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div class="back">
          <ul>
            <li>NoSql</li>
            
          </ul>
        </div> 
      </div>


      <div class="card">
        <div class="front">
          Ruby </br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div style="background-image: url('../../assets/images/twocol.png'); background-size: cover" class="back">
          <ul>
            <li> Two Column</li>
            

          </ul>
        </div> 
      </div>

      <div class="card">
        <div class="front">
          Frameworks</br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div class="back">
          <ul>
            <li>Bootstrap</li>
            
          </ul>
        </div> 
      </div>




      <div class="card">
        <div class="front">
          Work</br>
          <img src="../../assets/images/flip.png" class="flip">
        </div>
        <div class="back">
          <ul>
            <li>TDD & BDD</li>
          </ul>
        </div> 
      </div>


    </div>


  </form> 


</div>

<script type="text/javascript">
  $(function(){
    $(".card").flip({
      axis: 'x',
      trigger: 'click'
    });
  });
</script>















