<div style="background-color: {{events.data.event.bgcolor}}">

    <h1>Title is {{ events.data.event.title }}</h1>
    <h4>Description is {{ events.data.event.description }}</h4>

    <ul>
        <li ng-repeat="comment in events.data.event.comments">{{comment.body}}</li>
    </ul>

</div>

<form ng-submit="events.save()">

  <input type="text" ng-model="events.data.event.title">
  <input type="color" name="bgcolor" ng-model="events.data.event.bgcolor">

  <input type="submit" value="Save Event">

</form>


<form ng-submit="events.addComment()">

  <textarea ng-model ="events.newComment.comment.body"></textarea>

  <input type="submit" value="Post">

</form>






