<script src="./js/jquery.slides.js"></script>

<div id="splash">
  <div class="homeWrapper">
    <div id="containerText">
    <h1> myMoments</h1>
      <h2>Design Your Own Collaborative Event Page</h2>
      <br>
      <br>
      <h2 id="started">See More</h2>
      <a id="anchorID" href="#slidesHolder"><i id="icon1" class="icon-circle-arrow-down"></i></a>
    </div>
  </div>
</div>

<div id="slidesHolder">

  <h2> How It Works </h2>

  <div class="container">
    <div id="slides">
      <img src="../assets/images/HIW1.jpg" >
      <img src="../assets/images/HIW2.jpg" >
      <img src="../assets/images/HIW3.jpg">
      <img src="../assets/images/HIW4.jpg">

      <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
    </div>
  </div>
  <div id="registerButton">
    <h2 href="#" ui-sref="register">Get Started</h2>
  </div>
</div>

<script>
  $(function() {
    $('#slides').slidesjs({
      width: 540,
      height: 365,
    });
  });

  $(document).ready(function(){
   $("#anchorID").click(function(){
    $('html, body').animate({
     scrollTop: $("#slidesHolder").offset().top
   }, 2000);
  });
 });


</script>






